.test{
    background-color: rgb(46, 22, 22);
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 270px auto;
    display: flex;
    justify-content: center;
    align-items: center;



}
.man{


background-color: rgb(190, 120, 120);
}